* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}

.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

.header h1 {
  display: inline-block;
  font-size: 48px;
}

.header h1 .seo {
  color: #d9dcd6;
}

.header div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.header div ul {
  list-style-type: none;
}

.header div ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}

.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* Begin benefits styling */
/* CONSOLIDATED BENEFITS STYLE SHEET */
/* COMPLETE- created one class for lead generation, brand awareness, and cost management sytling */
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

/* text styling- selects .what-you-get class w/in the .benefits class */
.benefits,
.what-you-get {
  margin-bottom: 32px;
  color: #ffffff;
}

/* text styiling-  selects h3 w/in .what-you-get class w/in the .benefits class */
.benefits,
.what-you-get h3 {
  margin-bottom: 10px;
  text-align: center;
}

/* image styiling-  selects images w/in .what-you-get class w/in the .benefits class */
.what-you-get img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/* End Benefits styling */

/* Begin what we offer styling */
/* COMPLETE- created one class for search engine optimization, online rep, and social media sytling */
/* what this does- consolidates code- leaving it cleaner */
/* Styles the what-we-offer class */
.what-we-offer {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/* Selects images w/in the what-we-offer class */
.what-we-offer img {
  max-height: 200px;
}

/* Styles h2 element */
.h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
/* End what-we-offer styling */

.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

/* OVERRIDES THE PREVIOUS H2 STYLING */
.footer h2 {
  font-size: 20px;
}
